name: Build Multi-Platform Packages

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        
    - name: Build with Maven
      run: mvn -B package
      
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: nbcommand-${{ matrix.os }}
        path: target/nbcommand/
        if-no-files-found: error
